services:
  api:
    build: .
    container_name: tms-server
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      NODE_ENV: development
      MONGODB_URI: mongodb://mongo:27017/tms
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: tms-mongo
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
